.conteudo-pagina-edicao-prod{
    display: flex;
}

.conteudo-edicao-prod{
    background-color: var(--corSecundaria);
    width: 100vw;
}

.dados-prod{
    background-color: var(--corBranco);
    margin: 2vw;
    padding-left: 25px;
    padding-bottom: 30px;
    margin-top: -2vw;
}

.dados-edicao-prod-nome {
    padding-top: 30px;
}

.dados-edicao-prod-nome input,
.dados-edicao-prod-estoque input,
.dados-edicao-prod-preco input,
.dados-edicao-prod-custo input,
.dados-edicao-prod-fornecedor input
{
    margin-left: 10px;
    width: 200px;
}
