.header{
    background-color: var(--corPrimaria);
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.imagem-header {
    width: 4rem;
}

.nome-header {
    color: var(--corBranco);
}

.nome-sistema-header {
    display: flex;
    align-items: center;
    margin-left: 3rem;
    gap: 5rem;
}

.botao-menu {
    background-color: var(--corTransparente);
    border: 0px;
    color: var(--corBranco);
}

.botao-menu:hover {
    cursor: pointer;
}

.botoes-header{
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.dados-login-header {
    display: flex;
    color: var(--corBranco);
    margin-top: 10px;
    align-items: center;
    gap: 1rem;
}

.botao-funcionario-logado-header{
    height: 47px;
    width: 47px;
    background-color: var(--corTransparente);
    border: 0px;
    color: var(--corBranco);
    font-size: 36px;
    display: flex;
    border-radius: 50%;
    
}

.botao-funcionario-logado-header i {
    height: 47px;
    width: 47px;
}

.botao-funcionario-logado-header:hover {
    transition: 0.3s;
    background-color: var(--corBranco);
    color: var(--corPrimaria);
}

.link-botao-funcionario-logado-header{
    margin-right: 5px;
}